.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index:  9999;
    animation: fadeIn 0.75s, fadeOut 0.75s 1.5s forwards, windEffect 2.5s forwards ;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes windEffect {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }